

#content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1rem;
}

.movie-card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin: 1rem;
    overflow: hidden;
    width: 20%;
}

.movie-card img {
    width: auto;
    height: 100px;
}

.movie-card h3 {
    font-size: 1.2rem;
    margin: 0.5rem;
}

.movie-card p {
    margin: 0.5rem;
}