

#content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.movie-card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin: 1rem;
    overflow: hidden;
    width: 20%;
}

.movie-card img {
    width: auto;
    height: 100px;
}

.movie-card h3 {
    font-size: 1.2rem;
    margin: 0.5rem;
}

.movie-card p {
    margin: 0.5rem;
    color: black;
}

.image-container {
    position: relative;
}

.play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
}

.play-button:hover {
    background-color: rgba(0, 0, 0, 0.7);
}