@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    padding: 0rem;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color:  rgb(254, 255, 237, 1);
}
/* navbar section  */

.navbar {
    padding: 20px;
    background: rgb(254, 255, 237, 1);
}

.navbar .navbar-toggler {
    background: rgba(205, 22, 30,1);
    border-radius: 50%;
    padding: 15px;
    outline: none;
    border: none;
}

.navbar #navbarNav {
    text-align: center;
    width: 100%;
}

.navbar .navbar-brand {
    color: rgba(205, 22, 30,1);
    font-size: 30px;
    margin-left: 0px;
    font-weight: 600;
}

.navbar .navbar-brand i {
    background: rgb(254, 255, 237, 1);
    border-radius: 50%;
    padding: 10px 15px;
}

.navbar .collapse {
    background: rgb(254, 255, 237, 1);
}

.navbar .dropdown-menu{
    width: 12px;
}

.navbar .dropdown-menu li a{
    color: #1c456d;
    font-size: 15px;
}

.navbar ul li .bi{
    background: rgb(254, 255, 237, 1);
    color: rgb(0, 8, 7);
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 50%;
}

.navbar ul li a {
    color: rgba(205, 22, 30,1);
    text-decoration: none;
    text-transform: capitalize;
    font-size: 18px;
    margin-right: 40px;
}

.navbar ul li a:hover {
    color: #000807;
}

.name{
    font-size: 30px;
    color:  rgb(254, 255, 237, 1);;
    background-color: #000807;
    padding: 2rem;
}

/* hero section  */

.hero-section {
    background: #000807;
}

.hero-section h1 {
    font-size: 60px;
    color: rgb(254, 255, 237, 1);
    text-transform: capitalize;
    font-weight: bold;
}

.hero-section h4 {
    color: rgb(254, 255, 237, 1);
}

.hero-section button {
    margin-top: 20px;
    border-radius: 5px;
    background-color: rgba(205, 22, 30,1);;
    padding: 0.5rem 2rem;
}

.hero-section button:hover {
    border: 1px solid rgba(205, 22, 30,1);
    background: #2B547E;
}

.hero-section button a {
    text-decoration: none;
    color: #fff;
}

.hero-section img {
    width: auto;
}

#loginForm{
    padding: 5rem;
}
label {
    color: rgb(254, 255, 237, 1);
    margin-top: 20px;

}

input {
    background: rgb(254, 255, 237, 1);
    color: black;
    border: 1px solid rgb(254, 255, 237, 1);
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    margin-top: 10px;
}

/* footer section  */

footer {
    padding: 40px;
    background:  rgb(254, 255, 237, 1);
}

footer .logo {
    font-size: 30px;
    color: #fff;
    font-weight: 400;
}

footer .logo i {
    font-size: 25px;
    background: #fff;
    border-radius: 50%;
    padding: 10px 15px;
}

footer ul li {
    list-style: none;
    margin-top: 20px;
}

a{
    color:  rgba(205, 22, 30,1) !important;
}
footer ul li a {
    text-decoration: none;
    color: rgba(205, 22, 30,1)1;
    margin-left: 30px;
    font-size: 15px;
    text-transform: capitalize;
    font-weight: 500;
}

footer ul li a:hover {
    color: #FFA500;
}

footer p {
    color: #fff;
    margin-top: 20px;
    font-size: 15px;
    margin-left: 30px;
}

.back-to-top {
    background: #088F8F;
    height: 50px;
    width: 50px;
    color: #fff;
    border-radius: 50%;
    font-size: 50px;
}

.github-icon:hover {
    filter: hue-rotate(180deg); /* Example effect: change color */
}

@media (max-width:700px) {

    .hero-section img {
        height: 350px;
    }

    .services-section .services .card {
        margin-bottom: 50px;
    }

    .services-section .services .row1 {
        margin-bottom: 0px;
    }

    .about-section{
        padding: 50px 30px;
    }
    .about-section img {
        height: 300px;
    }

    .contact-section{
        padding: 50px;
    }

    footer ul li a {
        margin-left: 5px;
        letter-spacing: 0;
    }
}